.page-title {
  display: block !important;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.form-container {
  width: 400px;
  margin: auto;
}

.bingoBox {
  width: 7em;
  outline: 0.1em solid black;
  text-align: center;
  position: relative;
  height: 7em;
}

.bingoBoxContent {
  position: absolute;
  height: 100%;
  text-align: center;
  width: calc(100% - 1em);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}
